body{
  width: 100%;

}
div.header{
  display: flex;
}
img.logo{
  margin-left: 12%;
  margin-top: 12%;
}

h3{
  text-decoration: underline;
  color:black;
  font-size: 30px;
  margin-left: 35%;
  padding-bottom: 32px;
  padding-top: 32px;
}
p{
  color:white;
}
.btn.btn-danger.dropdown-toggle{
  margin: 1px 1px 1px;
  margin-bottom: 2px;
}
/* Menu de botones a la izquierda */
.form-inline{
  margin-left: 35%;
}
div.menu{
  margin-left: 35%;
justify-content: center;
  width: 25%;
  display: inline-grid;
}
div.dropdown-menu{

  background-color: grey;
  color:white;
}
a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

button#boton.btn.btn-outline-success {
color:#dc3545;
border-color: #dc3545;
padding-right: 6px 12px;
margin: 10px;
}
button#boton.btn.btn-outline-success:hover {
color: white;
border-color:#dc3545;
padding-right: 6px 12px;
margin: 10px;
background-color: #dc3545;
}
